.vscode
**.md
**.sh

create-data/__pycache__/

website/node_modules
website/build
website/.svelte-kit
website/package
website/.env
website/.env.*
website/!.env.example
website/vite.config.js.timestamp-*
website/vite.config.ts.timestamp-*
website/.eslintignore
website/.eslintrc.cjs
website/.prettierrc
website/.prettierignore