discord-bot

.vscode
**.md
**.sh

create-data/__pycache__/
create-data/index.json

dadabot-data/database
dadabot-data/static/answers
dadabot-data/static/pdfs/chapter*.pdf

proxy/dev.conf

website/.DS_Store
website/node_modules
website/build
website/.svelte-kit
website/package
website/.env
website/.env.*
website/!.env.example
website/vite.config.js.timestamp-*
website/vite.config.ts.timestamp-*
website/.eslintignore
website/.eslintrc.cjs
website/.prettierrc
website/.prettierignore